// Some other light colors
$color-almost-white: #fbfbfb;
$color-yellow: #fae596;

// Pinks
$color-pink-dark: #ee6c6c;
$color-pink-light: #fa4251;

// Dark Colors
$color-grey: #808080;
$color-grey-dark: #393939;
$color-grey-darkest: #222222;
$color-black: #000000;

// Green
$color-green: #00ad5f;

// blue
$color-blue-md: #4272d7;
$color-blue-light: #3fb0ac;
