@import "./utils/variables";

.add-form {
  padding: 2rem;
  margin: 2rem;
  // border: 1px solid;
  text-align: center;
}
.form-div {
  padding: 1rem;

  label {
    font-size: 2rem;
    display: block;
  }

  input {
    border: none;
    border-bottom: 2px solid $color-blue-light;
    outline: none;
    font-size: 2.2rem;
    padding: 0.6rem 2rem;
    transition: all 0.4s ease;
    width: 70%;

    &:focus {
      border-bottom: 2px solid $color-yellow;
    }
  }

  textarea {
    width: 50%;
    padding: 1.5rem;
    margin-top: 1rem;
    border-color: $color-blue-light;
    outline: none;
    border-radius: 2rem;

    &:focus {
      border-color: $color-yellow;
    }
  }
}

.add-option-btn {
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 2rem;
  background-color: $color-yellow;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 2rem;
}

.remove-option-btn {
  background-color: $color-blue-light;
  font-size: 1.3rem;
  margin-left: 0.4rem;
  padding: 1rem 1.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: tomato;
  }
}

.select-right-option {
  margin: 4rem auto;
  width: 20%;
  select {
    padding: 1rem 2rem;
    display: block;
    margin: 1rem auto;
    border: none;
    outline: none;
    border-radius: 1rem;
  }
}

input[type="submit"] {
  padding: 1.5rem 3rem;
  background-color: $color-blue-light;
  outline: none;
  border: none;
  border-radius: 3rem;
  font-size: 2rem;
  color: whitesmoke;
  cursor: pointer;
  transition: 0.4s ease all;

  &:hover {
    background-color: $color-yellow;
    color: $color-grey-dark;
  }
}
