@import './utils/variables';

table {
  width: 97%;
  margin: 2rem auto;
  box-shadow: 0 0.4rem 1rem rgba($color-black, 0.1);
}
.table-head {
  border-radius: 1.3rem 1.3rem 0 0;
  box-shadow: 0 0.3rem 1rem rgba($color-black, 0.1);
  th {
    font-size: 1.8rem;
    color: $color-pink-light;
    padding: 2rem;
  }
}

.ques-row {
  /* This will add border to all the tds under tr except the last tr*/
  &:not(:last-child) {
    td {
      border-bottom: 1.5px solid rgb(242, 242, 242);
    }
  }
  // Styling td
  td {
    font-size: 1.5rem;
    color: $color-grey;
    line-height: 1.4;
    padding: 1rem;

    &:nth-child(odd) {
      text-align: center;
    }
  }
}

.del-btn {
  padding: 1rem 1.4rem;
  background-color: $color-pink-light;
  border-radius: 30%;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

// Float button
.float-btn {
  padding: 2rem 2.8rem;
  margin: 1rem;
  position: fixed;
  background-color: $color-pink-light;
  text-align: center;
  border-radius: 100%;
  color: white;
  font-size: 3rem;
  right: 3%;
  top: 80%;
  cursor: pointer;
}
