@import "./utils/variables";

.McqPage {
  text-align: center;
  margin-top: 2rem;
}

.McqPage-heading {
  font-size: 5rem;
  letter-spacing: 4px;
  color: $color-grey-dark;
}
.ques-container {
  width: 80%;
  position: relative;
  margin: 1rem auto;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 1rem rgba($color-black, 0.1);
  padding: 2rem;
  color: $color-pink-light;
}
.time-left {
  text-align: right;
  font-size: 1.7rem;
  font-weight: 600;
  display: inline-block;
  width: 50%;
}
.ques-text {
  font-size: 2rem;
  margin: 2rem auto;
  text-align: center;
  width: 80%;

  span {
    color: $color-grey;
  }
}

// option style
.option-container {
  padding: 0;
  margin: 0;
  border: none;
}

.radio-container {
  margin: 1rem auto;
  width: 60%;
  text-align: left;
  padding: 1rem;
  // border: 2px solid $color-pink-dark;
  border-radius: 1rem;
  box-shadow: 0 3px 0.6rem rgba($color-black, 0.3);
  transition: 0.3s ease all;

  &:hover {
    transform: translateY(-5px);
  }
}

// radio button style
.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin: 7px;
  outline: none;
}
.form-radio:checked::before {
  position: absolute;
  font: 13px/1 "Open Sans", sans-serif;
  left: 11px;
  top: 7px;
  content: "\02143";
  transform: rotate(40deg);
}
.form-radio:hover {
  background-color: #f7f7f7;
}
.form-radio:checked {
  background-color: #f1f1f1;
}
label {
  font-size: 1.5rem;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// next btn
.next-btn {
  display: initial;
  padding: 1.2rem 3rem;
  font-size: 1.5rem;
  background-color: $color-blue-md;
  border: none;
  outline: none;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 2rem;
}

// CurrentQues / Total Ques
.current-ques {
  text-align: left;
  font-size: 1.7rem;
  font-weight: 600;
  display: inline-block;
  width: 50%;
}
